& main {
  @chassis constrain-width;

  & > * {
    padding-top: 3.82em;
  }

  & .sidebar {
    position: sticky;
    top: 0;

    display: none;
    margin: 0;

    & nav a {
      display: block;
      @chassis inline-block-layout no-margin;

      &:not(:first-of-type) {
        box-shadow: 0 -1px 0 0 var(--sidebar-link-border-color);
      }

      &:hover {
        background: var(--sidebar-link-hover-bg-color);
        box-shadow: none;
        color: var(--sidebar-link-hover-text-color);
        text-decoration: none;

        & + a {
          box-shadow: none;
        }
      }
    }

    @chassis viewport-width >= medium {
      flex: 1 0 23.6%;
      display: block;
      min-width: 220px;
    }
  }

  & .content {
    flex: 1 1 76.4%;

    & > section {
      &.ui-components {
        & .buttons {
          & .custom-1 {
            @chassis extend anchor-button {
              @state default {
                background: var(--green);
              }

              @state hover {
                background: color(var(--green) lightness(42%));
              }

              @state active {
                background: color(var(--green) lightness(38%));
              }
            }
          }

          & .custom-2 {
            @chassis extend anchor-button {
              @state default {
                background: transparent;
                border-radius: .236em;
                color: var(--text-color);
                box-shadow: inset 0 0 0 2px var(--grey-n06);
              }

              @state hover {
                background: color(var(--grey-n00) alpha(.618));
                color: currentColor;
              }

              @state active {
                background: var(--grey-n01);
              }
            }
          }

          & .custom-3 {
            @chassis extend anchor-button {
              @state default {
                background: linear-gradient(to bottom, var(--grey-n00) 0%, var(--grey-n03) 100%);
                color: var(--grey-n09);
                box-shadow: inset 0 -2px 0 0 var(--grey-n04);
                text-shadow: 1px 1px 2px white;
                text-decoration: none;
              }

              @state hover {
                background: linear-gradient(to bottom, var(--grey-n01) 0%, var(--grey-n04) 100%);
                color: var(--grey-n10);
                box-shadow: inset 0 -2px 0 0 var(--grey-n05);
              }

              @state active {
                background: linear-gradient(to bottom, var(--grey-n04) 0%, var(--grey-n01) 100%);
                color: var(--grey-n10);
                box-shadow: inset 0 2px 0 0  var(--grey-n05);
              }
            }
          }
        }
      }
    }

    @chassis viewport-width >= medium {
      padding-left: 6.18%;
    }
  }

  @chassis viewport-width >= medium {
    display: flex;
    align-items: flex-start;
  }
}
