& main {
  @chassis constrain-width;
  padding-bottom: 3.618em;

  & > * {
    padding-top: 3.82em;
  }

  & .sidebar {
    position: sticky;
    top: 0;

    display: none;
    margin: 0;

    & nav a {
      display: block;
      @chassis inline-block-layout no-margin;

      &:not(:first-of-type) {
        box-shadow: 0 -1px 0 0 var(--sidebar-link-border-color);
      }

      &:hover {
        background: var(--sidebar-link-hover-bg-color);
        box-shadow: none;
        color: var(--sidebar-link-hover-text-color);
        text-decoration: none;

        & + a {
          box-shadow: none;
        }
      }
    }

    @chassis viewport-width >= medium {
      flex: 1 0 23.6%;
      display: block;
      min-width: 220px;
    }
  }

  & .content {
    flex: 1 1 76.4%;

    @chassis viewport-width >= medium {
      padding-left: 6.18%;
    }
  }

  @chassis viewport-width >= medium {
    display: flex;
    align-items: flex-start;
  }
}
