:host {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
}

:host *,
:host *:before,
:host *:after {
  box-sizing: border-box;
}

:host([stretch]) {
  flex: 1 1 auto;
}

:host([orientation="horizontal"]) {
  flex-direction: row;
}

:host([orientation="vertical"]) {
  flex-direction: column;
}
