@charset "UTF-8";

:host {
  display: flex;
  flex-direction: column;
}

:host([fullscreen]) {
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  max-width: 100%;
  overflow: auto;
}

:host([orientation="horizontal"]) {
  flex-direction: row;
}

:host([orientation="vertical"]) {
  flex-direction: column;
}
