@charset "UTF-8";

:host {
  display: inline-block;
  max-width: 100%;
}

:host *,
:host *:before,
:host *:after {
  box-sizing: border-box;
}

:host ::slotted(chassis-options) {
  height: 0;
  overflow: hidden;
}

:host([open]) ::slotted(chassis-options) {
  height: auto;
}
