:host {
  display: flex;
}

:host *,
:host *:before,
:host *:after {
  box-sizing: border-box;
}

:host([dragging]) {
  position: fixed;
  z-index: 2147483647;
}

:host([clone]) {
  contain: content;
}
