@chassis init;
@chassis include all;

:root {
  --test: 3;
}

.showroom {
  transition: all ease-in-out .382s;

  @chassis import components;
  @chassis import overrides;
  @chassis import layout;

  & .ibl {
    background: var(--blue);
    @chassis apply inline-block;

    @chassis z-index max;
  }
}
