@chassis init;
@chassis include all;

:root {
  --test: 3;
}

.showroom {
  transition: all ease-in-out .382s;

  @chassis import components;
  @chassis import overrides;
  @chassis import layout;

  & .ibl {
    margin: var(--chassis-select-pill-padding-x);
    background: var(--blue);
    /* @chassis apply inline-block; */
    z-index: var(--test);
    /* @chassis z-index max; */
  }
}
