@charset "UTF-8";

:host {
  display: block;
}

:host *,
:host *:before,
:host *:after {
  box-sizing: border-box;
}

/* For Firefox & IE */
/* :host > :not([active]) {
  display: none !important;
} */

:host > ::slotted(*:not([active])) {
  display: none !important;
}
