@charset "UTF-8";

:host {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

:host * {
  box-sizing: border-box;
}

:host *:before {
  box-sizing: border-box;
}

:host *:after {
  box-sizing: border-box;
}

:host ::slotted(chassis-options) {
  height: 0;
  overflow: hidden;
}

:host([open]) ::slotted(chassis-options) {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  height: auto;
  min-width: 100%;
}
